* {
    margin: 0;
    padding: 0;
}
#mainContainer{
    width: 100%;
    margin: 0px auto;
    font-size: 1.0em;
    height: auto;
}

#header{
    width: 100%;
    border: 0px;
}
#content{
    margin-top: 40px;
    width: 100%;
    border: none;
    height: auto !important;
    min-height: 500px;
}
#fotter{
    width: 100%;
    border: 0px;
}

#left{
    width: 25%;
    float: left;
    border: 0px;

}
#right{
    width: 100%;
    float: left;
    border: 0px;

}

.tumbnail{
    height: 475px;
    
}

.botonesMantenimientos{
    width: 90px;
    margin-bottom: 5px; 
    background-color: #d9534f;
    color: #fff;
    height: 37px;
    border-color: #d43f3a;
    border-radius: 4px !important;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.calendario
{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.textosFactura{
    
    height: 22px;
    padding: 1px;
}

.tresColumnas .ui-datagrid-column {
    width: 33.33%; border: none;height: 100%;
}

.cuatroColumnas .ui-datagrid-column {
    width: 25%;
    border:0px !important;
    height: 100%;
}
.cuatroColumnas{
    border:0px !important;
    
}

#nav{
    height:25px;
    border-bottom:1px solid #ddd;
    position:fixed;
    top:100px;
    //left:0px;
    right:2.5%;
    background:#fff url(../images/nav.png) repeat-x center left;
    z-index:999999;
    width: 60px;
}

#contentLeft{
    width: 60%;
    padding-left: 5%;
    float: left;
}
#contentRight{
    width: 25%;
    float:left;
    padding-left: 5%;
}

@media screen and (max-width: 700px) {

    #contentLeft{
        width: 100%;
        padding-left: 2%;
        float: left;
    }
    #contentRight{
        width: 0%;
        float:left;
        display: none;
    }
}
